.FutureTrip_Wrapper{
    flex-direction: column;
    gap: 60px;
}
.FutureTripCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.FutureTripCard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.FutureTripCard h3{
    font-size: 18px;
    font-family: 'jost';
}
.FutureTripCard .FutureTripCardImage{
    height: 250px;
    width: 100%;
    overflow: hidden;
}
.FutureTripCard .FutureTripCardImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .6s;
}
.FutureTripCard:hover .FutureTripCardImage img{
    transform: scale(1.2);
}

@media  screen and (max-width:768px) {
    .FutureTripCards{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

