.HeaderWrapper{
    height: 80vh !important;
    align-items: center;
    justify-content: center !important;
}

.Container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 800px;
    
}
.Container h1{
    font-size: 58px;
    line-height: 40px;
    font-family: 'jost';
    color: #fff;
}
.Container small{
    color: #ffff;
    font-family: 'jost';
    margin-bottom: 30px;
}

.Container form{
    padding: 18px 30px;
    background-color: #fff;
    border-radius: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
     gap: 30px;
}
.Container form .inputWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 26px;
   
}

.Container form .inputWrapper:nth-child(2){
    border-right: 0.2px solid #1e1e1e2e;
     border-left: 0.2px solid #1e1e1e2e;
}

.Container .inputWrapper label{
    font-size: 13px;
    margin-bottom: 4px;
}
.Container .inputWrapper input{
    height: 30px;
    border: none;
    outline: none;
    color: #1e1e1e;

}

.Container button{
    background-color: rgba(53, 84, 209) ;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 26px 18px;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    transition: .6s ease;
}

.Container button:hover{
    background-color: #1e1e1e;
    
}
@media screen and (max-width:900px) {
    .Container{
        width: 100%;
    }

    .Container h1{
        text-align: center;
        line-height: 65px;
    }
    .Container form{
        flex-direction: column;
        border-radius: 12px;
        margin-top: 60px;
    }
    .Container button{
        width: 100%;
        justify-content: center;
    }
    .Container form .inputWrapper:nth-child(2){
        border: none;
    }
}