/* .FooterContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
    padding: 100px 12%;
} */

.footerContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.footerWrapper{
    flex-direction: column;
   
}

.footerLinks{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footerLinks h3{
    margin-bottom: 30px;

}
.footerLinks a{
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 500;
    transition: .6s;
}
.footerLinks a:hover{
    color: #7795ff;
}
.footerLinks img{
    width: 150px;

}
.banner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    background-color: #051036;
}
.banner .content{
    width: 50%;
    display: flex;
    gap: 20px;
    color: #fff;
}
.banner .content i{
    font-size: 35px;
    font-weight: 300;
}
.banner .content h2{
    font-family: 'jost9';
}
.banner .content h2 span{
    font-weight: 300;
    display: block;
    font-size: 15px;
}
.banner .form{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}
.banner .form input{
    height: 43px;
    width: 340px;
    padding: 0, 12px;
    border: none;
    outline: none;
    color: #1e1e1e;

}
.banner .form button{
    background-color: #7795ff;
    border-color: #7795ff;
    color: #fff;
}

@media screen and (max-width:1100px){
    .banner{
        flex-direction: column;
        gap: 30px;
    }
    .banner .form ,    .banner .content{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

}
@media screen and (max-width:900px){
    .FooterContainer{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media screen and (max-width:554px) {
    .FooterContainer{
        grid-template-columns: repeat(1, 1fr);

    }
    
}