.TestimonialWrapper{
    background-color: #e5f0fd;
}

.content{
    width: 50%;
    display: flex;
    flex-direction: column;
   
}
.content h2{
    font-size: 24px;
    color: #131a42;
}
.content p{
    font-size: 14px;
    color: rgb(131, 131, 131);
    margin-bottom: 25px;
}

.swiper{
    width: 50%;
}

.Rating{
    display: flex;
    width: 40%;
    justify-content: space-between;
    text-align: center;

}
.Rating h3{
    font-size: 30px;
}
.Rating h3 span , .profile h3 span {
    display: block;
    font-size: 12px;
    font-weight: 300;
}


.profile{
    display: flex;
    align-items: center
    ;
    gap: 18px;
}

.Testimonial{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media screen and (max-width:1100px) {
    .TestimonialWrapper{
        flex-direction: column;
        gap: 30px;
    }
    .content , .swiper{
        width: 100%;
    }
    .swiper{
        margin-top: 50px;
    }

}

     

