.HotelsWrapper{
    flex-direction: column;
    gap: 50px;
    z-index: 0;
    position: relative;

}
 .card{
    height: auto;
    width: 280px;
 }

 .card .imgWrapper{
    height: 180px;
    width: 100%;
 }

 .card h3{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
 }

 .card h3::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 2px;
    width: 0;                /* IMPORTANT */
    background-color: #1e1e1e;
    transition: width 0.6s ease;
}

/* First h3 */
.card h3:nth-of-type(1)::after {
    transition-duration: 0.6s;
}

/* Second h3 */
.card h3:nth-of-type(2)::after {
    transition-duration: 1s;
}

/* Hover effect */
.card:hover h3:nth-of-type(1)::after {
    width: 100%;
}

.card:hover h3:nth-of-type(2)::after {
    width: 45%;
}


 .card .imgWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .swiper{
    width: 100% ;
 }
 .card p span{
    padding: 5px;
    background-color: #7795ff;
    color: #fff;
    margin: 10px 8px;
     
 }
 .card p{
    margin: 10px 0;
 }
.card h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
    color: #1e1e1e; 
}
.card h4 span {
    color: #7795ff; 
}
