@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;

    font-family: 'poppins';
    scroll-behavior: smooth;
}
button{
    height:42px ;
    width:120px ;
    font-size: 15px;
    font-weight: 500;
    background-color:#ffff ;
    border: 1px solid #ffff;
    color: #1e1e1e;
    transition: .6s;
}

button:hover{
    background-color: #1e1e1e;
    color: #ffff;
}

.Header-Container{
    min-height: 100vh;
    width: 100%;
   background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative;
}

.Header-Container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(65deg ,#131a42 30% , tranperent);
    z-index: -1;
}

.Header-Container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(65deg, #131a42ca 30%, transparent);
    z-index: -1;
}

.section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 80px 12%;
}

.Section_heading{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.Section_heading h2{
    color: #051036;
    font-size: 22px;
}
.Section_heading p{
    color:rgba(131, 131, 131, 1) ;
    font-size: 14px;
    letter-spacing: 0.8;
    margin-top: 8px;
}
.Section_heading button{
    width: 200px;
    height: 45px;
    background-color: #eef2ff;
    color: #7795ff;
    cursor: pointer;
}
.Section_heading button:hover{
    background-color: #7795ff ;
    color: #eef2ff;
}

@media screen and (max-width:500px) {
    .Section_heading{
        flex-direction: column;
        gap: 50px;
    }
    
}