.NavWrapper{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
}
.navbarActive{
    background-color: #1e1e1e;
    position: fixed;
    top: 0;
    z-index: 99999;
}

.ContainerNav{
    display: flex;
    align-items: center;
    gap: 30px;
}

.ContainerNav .logo a{
    font-size: 22px;
    font-weight: 700;
    color: #ffff;
}

.ContainerNav ul li{
    display: inline-block;
    margin: 0 12px;
    
}
.ContainerNav ul li a{
    font-size: 15px;
    color: #fff;
    
}
.NavButtons{
    display: flex;
    align-items: center;
    gap: 12px;
}

.NavButtons i{
    height:40px ;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    color: #fff;
    display: none;
    transition: .6s;
}
.NavButtons i:hover{
    background-color: #fff;
    color: #1e1e1e;
}
@media screen and (max-width:1100px) {

    .NavButtons i{
        display: flex;
    }
    .NavWrapper {
        position: relative;
    }
    .NavWrapper ul{
        position: absolute;
        top: 100%;
        left: 00;
        width: 100%;
        background-color: #1e1e1e;
        border-bottom: 0.2px solid #fff;
        height: 0;
        overflow: hidden;
        transition: .6s;
    }
    .NavWrapper ul li{
        display: block;
        margin: 20px 0;
        padding: 10px 0;
        padding-left: 12%;

    }
    .NavWrapper ul li a{
        font-size: 18px;
    }
    .NavWrapper .activeNav{
        height: auto;
    }
}